.header{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.sub-header{
    font-family: Impact, Charcoal, sans-serif;
}

ul{
    font-family: "Arial Black", Gadget, sans-serif;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    border: 1px solid black;
}
  
li a{
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: lightgreen;
}

li a:hover{
    background-color: lightblue;
}
.current{
    background-color: yellow;
}

.main-body{
    max-width: 1200px;
    margin: 80px auto 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.body1{
    flex:1;
}

.body2{
    flex:2;
}

.des{
    font-family: Arial, Helvetica, sans-serif;
}

.photos{
    max-width: 1400px;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo:hover{
    filter: grayscale(70%);
}

.photos > div{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.photo{
    flex:1;
}

.videos{
    max-width: 1400px;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.video{
    flex:1;
}

.videos > div{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links > div{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.pic{
    flex:1;
}

.words{
    flex:4;
}

#self{
    width: 378px;
    height: 458px;
}

#intro{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5em;
}

.enlarged {
    width: 400px;
    height: 300px;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

.lightbox {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.lightbox.open{
    display: flex;
}

.lightbox .lightbox-content {
    position: relative;
}

.lightbox .lightbox-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height:600px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .lightbox-img {
        width: 100%;
        height: auto;
    }
}

.return-top{
    width:80px;
    height:80px;
    font:bold 50px/100px;
    color:#fff;
    background-color:black;
    position:fixed;
    bottom:20px;
    right:20px;
    text-align:center;
    cursor:pointer;
    display:none;
}
.return-top.active{
    display: block;
}